$primary-color: #272727;
$accent-color: yellow;
$text-color: grey;
$font-weights: (
    regular:400,
    medium: 500,
    bold: 700
);

body{
    background: $primary-color;
    font-weight: map-get($font-weights, bold);
    color: $text-color;
}
